//
// Global buttons
//
a.btn, button {
    appearance: none;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    outline: none;
    text-decoration: none;

    i.fa {
        &:first-child { margin-right: 6px }
        &:last-child { margin-left: 6px }
        @include transition('margin-left, margin-right');
        @include bp(tablet) {
            &:first-child { margin-right: 12px }
            &:last-child { margin-left: 12px }
        }
    }

    &.icon-only-mobile {
        max-width: 65px;

        i.fa {
            margin: 0;
        }

        span {
            display: none;
            padding-left: 6px;
        }

        @include bp(large-phone) {
            max-width: none;
            span {
                display: inline;
            }
        }
    }
}

//
// Sizes
//
a.btn, button {

    //
    // Default
    //
    border-radius: 54px;
    height: 54px;
    line-height: 54px;
    min-width: 250px;

    //
    // Small
    //
    &.btn-small {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        min-width: auto;
        padding: 0 24px;
    }
}

//
// Colored buttons
//
@each $name, $color in $colors {
    a.btn, button {

        //
        // Background colored
        //
        &.btn-#{ $name } {
            border: none;
            background-color: $color;
            color: #fafafa;
            @include transition('background-color, color');

            &:hover {
                background-color: darken($color, 5%);
                color: #fff;
            }

            &:active {
                background-color: darken($color, 10%);
            }
        }

        //
        // Outlined colors
        //
        &.btn-outlined-#{ $name } {
            background-color: transparent;
            border: 1px solid #999;
            color: #999;
            @include transition('border-color, color');

            &:hover, &.hover {
                border-color: darken($color, 15%);
                color: darken($color, 15%);
            }

            &:active, &.active {
                border-color: darken($color, 25%);
                color: darken($color, 25%);
            }
        }
    }
}
