//
// Default content
//
main.content {
    padding: 0 24px 24px;
    font-size: 24px;
    font-weight: 300;

    //
    // Header
    //
    header {
        display: flex;
        justify-content: space-between;
        font-size: 36px;
        font-weight: 300;
        padding: 24px 0;

        a {
            font-size: 24px;
        }
    }

    //
    // Splash pages
    //
    &.splash, .splash {
        overflow: hidden;
        text-align: center;
        @include bp-prop(padding, 24px 0, 60px 0, 120px 0);
        @include transition(padding);

        h1 {
            @include bp-prop(font-size, 48px, 52px !important);
            @include transition(font-size);
        }

        p {
            @include bp-prop(margin, 36px, 48px, 60px);
            @include transition(margin);
            a { font-weight: 400 }
        }
    }

    //
    // Sections
    //
    section {

        b, strong { font-weight: 400 }
        + section { margin-top: 24px }

        ul, ol {
            margin: 0;
            padding: 0;
            padding-left: 24px;

            li + li {
                margin-top: 12px;
            }
        }
    }
}
