//
// Forms
//
form {

    .row {
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: space-between;

        .full { width: 100% }
        .half { @include bp-prop(width, 100%, calc(50% - 12px)) }

        label + input,
        input + label {
            margin-top: 6px;
        }
    }
}
