//
// Forms
//
form {
    @include bp-prop(margin-top, -12px, -24px); // offset field padding

    .row {
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: space-between;

        .full { width: 100% }
        .half { @include bp-prop(width, 100%, calc(50% - 12px)) }

        label + input,
        small + input,
        label + .v-file-upload,
        small + .v-file-upload {
            margin-top: 6px;
        }

        small {
            color: #999;
            display: block;
        }

        .field {
            display: flex;
            flex-wrap: wrap;
            flex-basis: auto;
            @include bp-prop(margin-top, 12px, 24px);

            > * {
                flex: 1 0 auto;
                width: 100%;
            }

            label, small { align-self: flex-start }
            input, .v-file-upload { align-self: flex-end }
        }
    }
}
