//
// HTML & Body
//
html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

    *, *:before, *:after {
        box-sizing: inherit !important;
    }
}

html, body {
    background-color: $site-background-color;
    color: $site-font-color;
    height: 100%;
}

//
// Root
//
#app {
    display: flex;
    flex-direction: column;
    height: 100vh; // Avoid the IE 10-11 min-height bug

    > .v-header {
        flex-shrink: 0;
    }

    > .v-router {
        flex: 1 0 auto;
        position: relative;
    }

    > .v-footer {
        flex-shrink: 0;
    }
}

//
// Margins and padding
//
.margin {
    margin: 0 auto;
    max-width: $site-max-width;
    width: 100%;
}

.padding { padding: 12px }
.h-padding { padding: 0 12px }
.v-padding { padding: 12px 0 }
