//
// HTML & Body
//
html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

    *, *:before, *:after {
        box-sizing: inherit !important;
    }
}

html, body {
    background-color: $site-background-color;
    color: $site-font-color;
    height: 100%;
}

//
// Margins and padding
//
.margin {
    margin: 0 auto;
    max-width: $site-max-width;
    width: 100%;
}

.padding { padding: 12px }
.h-padding { padding: 0 12px }
.v-padding { padding: 12px 0 }
