//
// Links
//
a:not(.btn) {
    color: $link-color;
    text-decoration: none;
    @include transition(color);

    &:hover {
        color: lighten($link-color, 10%);
        text-decoration: underline;
    }
}

//
// Inputs
//
.v-file-upload,
input[type=text],
input[type=email],
input[type=password] {
    appearance: none;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 300;
    outline: none;
    padding: 12px;
    width: 100%;
    @include transition('border-color, color');

    &:focus { border-color: #666 }

    @mixin placeholder() { color: #999 }
    &::-webkit-input-placeholder { @include placeholder() }
    &:-moz-placeholder { @include placeholder() }
    &::-moz-placeholder { @include placeholder() }
    &:-ms-input-placeholder { @include placeholder() }

    &.is-invalid {
        border-color: $error-color;
        @mixin error-placeholder() { color: $error-color }
        &::-webkit-input-placeholder { @include error-placeholder() }
        &:-moz-placeholder { @include error-placeholder() }
        &::-moz-placeholder { @include error-placeholder() }
        &:-ms-input-placeholder { @include error-placeholder() }
    }
}

//
// Buttons
//
a.btn,
button {
    background-color: #fff;
    border: 2px solid $button-color-default;
    border-radius: 64px;
    color: $button-color-default;
    cursor: pointer;
    display: inline-block;
    min-width: $button-min-width;
    outline: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    @include transition('background-color, border-color, color');

    &:hover {
        border-color: darken($button-color-default, 50%);
        color: darken($button-color-default, 50%);
        text-decoration: none;
    }

    &:active {
        border-color: darken($button-color-default, 80%);
        color: darken($button-color-default, 80%);
    }

    > i.fa:first-child { margin-right: 12px }
    > i.fa:last-child { margin-left: 12px }

    // Success buttons
    &.success {
        background-color: $button-color-success;
        border-color: $button-color-success;
        color: #fff;

        &:hover {
            background-color: darken($button-color-success, 5%);
            border-color: darken($button-color-success, 5%);
        }

        &:active {
            background-color: darken($button-color-success, 10%);
            border-color: darken($button-color-success, 10%);
        }
    }
}
