//
// Configuration
//
$breakpoints: (
    phone: 'min-width: 320px',
    large-phone: 'min-width: 481px',
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

$button-color-default: #666;
$button-color-success: #31ac5f; // deprecated
$button-min-width: 225px;

$error-color: #F44336;
$info-color: #03A9F4;
$success-color: #31ac5f;
$warning-color: #FFC107;

$link-color: #2196F3;

$site-background-color: #fefefe;
$site-alternate-background-color: #FBFBFB;
$site-font-color: #333;
$site-max-width: 1200px;

//
// Mixins
//
@import './mixins/utilities';
@import './mixins/bp';
@import './mixins/placeholder';
@import './mixins/transition';
@import './mixins/valign';
