//
// Configuration
//
$breakpoints: (
    phone: 'min-width: 320px',
    large-phone: 'min-width: 481px',
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

$colors: (
    black: #000000,
    // blue: #2196F3,
    // brown: #795548,
    // gray: #9E9E9E,
    green: #4CAF50,
    // indigo: #3F51B5,
    // pink: #E91E63,
    // purple: #9C27B0,
    // red: #F44336,
    // teal: #009688,
    // orange: #FF9800,
    // yellow: #FFEB3B,
);

$button-color-default: #666; // deprecated
$button-color-success: #31ac5f; // deprecated
$button-min-width: 225px; // deprecated

$error-color: #F44336; // deprecated
$info-color: #03A9F4; // deprecated
$success-color: #31ac5f; // deprecated
$warning-color: #FFC107; // deprecated

$link-color: #2196F3;

$site-background-color: #fefefe;
$site-alternate-background-color: #FBFBFB;
$site-font-color: #333;
$site-max-width: 1200px;

//
// Mixins
//
@import './mixins/utilities';
@import './mixins/bp';
@import './mixins/placeholder';
@import './mixins/transition';
@import './mixins/valign';
